<% direct_internal_dependencies = @repository.direct_internal_dependencies.includes(:manifest, :package) %>
<% if direct_internal_dependencies.present? %>
  <% @repository.direct_internal_dependencies.group_by(&:manifest).sort_by{|m,d| m.filepath }.each do |manifest, deps| %>
    <div class="card mb-3">
      <div class="card-header">
        <%= link_to manifest.filepath, manifest.repository_link, target: :_blank %>
      </div>
      <ul class="list-group list-group-flush">
        <% deps.group_by(&:package_id).each do |package_id, deps| %>
          <% package = deps.first.package %>
          <li class="list-group-item">
            <% if package %>
              <%= link_to package.name, package_url(package_id) %>
            <% else %>
              <%= deps.first.package_name %>
            <% end %>
            <%= deps.map(&:requirements).join(', ') %>
            <small class='text-muted'>
            <% if deps.first.kind != 'runtime' %>
              <%= deps.first.kind %>
            <% end %>
            <% if deps.first.optional %>
              (optional)
            <% end %>
            </small>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% else %>
  <p>No internal direct dependencies found</p>
<% end %>
