<nav class="mb-2 mt-2 navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand" >
    <strong><%= @page_title = 'Repository Audit' %></strong>
  </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills mr-auto">
      <% if Organization.internal.count > 1 %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= 'active' if params[:org].present? %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Organisation</a>
          <div class="dropdown-menu">
            <% if params[:org].present? %>
              <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, org: nil)) %>">
                <%= params[:org] %>
              </a>
            <% end %>
            <% @orgs.sort_by(&:last).reverse.reject{|r| r[0].blank? }.each do |org,count| %>
              <% unless org == params[:org] %>
                <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, org: org)) %>">
                  <%= org %>
                  <small class='text-muted'>
                    <%= number_with_delimiter count %>
                  </small>
                </a>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= 'active' if params[:language].present? %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Language</a>
        <div class="dropdown-menu">
          <% if params[:language].present? %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, language: nil)) %>">
              <%= language_title(params[:language]) %>
            </a>
          <% end %>
          <% @languages.sort_by(&:last).reverse.reject{|r| r[0].blank? || r[1].zero? }.each do |language,count| %>
            <% unless language == params[:language] %>
              <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, language: language)) %>">
                <%= language_title(language) %>
                <small class='text-muted'>
                  <%= number_with_delimiter count %>
                </small>
              </a>
            <% end %>
          <% end %>
        </div>
      </li>


    </ul>
    <ul class="nav nav-pills ml-auto">
      <%= render 'sort_filter' %>
    </ul>
  </div>
</nav>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th class='text-center'>
        Description
      </th>
      <th class='text-center'>
        Readme
      </th>
      <th class='text-center'>
        Code of Conduct
      </th>
      <th class='text-center'>
        Contributing
      </th>
      <th class='text-center'>
        License
      </th>
      <th class='text-center'>
        Changelog
      </th>
    </tr>
  </thead>
  <% @repositories.each do |repo| %>
    <% next if repo.valid_audit? %>
    <tr>
      <td>
        <%= link_to repo.full_name, repo.html_url, target: :_blank %>
      </td>
      <td class='text-center' title='Description'>
        <%= bool_icon(repo.description.present?) %>
      </td>
      <td class='text-center' title='Readme'>
        <%= link_to bool_icon(repo.readme_path.present?), existing_or_new_file(repo, :readme_path, 'README.md') %>
      </td>
      <td class='text-center' title='Code of Conduct'>
        <%= link_to bool_icon(repo.code_of_conduct_path.present?), existing_or_new_file(repo, :code_of_conduct_path, 'CODE_OF_CONDUCT.md') %>
      </td>
      <td class='text-center' title='Contributing'>
        <%= link_to bool_icon(repo.contributing_path.present?), existing_or_new_file(repo, :contributing_path, 'CONTRIBUTING.md') %>
      </td>
      <td class='text-center' title='License'>
        <%= link_to bool_icon(repo.license_path.present?), existing_or_new_file(repo, :license_path, 'LICENSE') %>
      </td>
      <td class='text-center' title='Changelog'>
        <% if repo.release_events.length > 0 %>
          <%= link_to bool_icon(repo.changelog_path.present?), existing_or_new_file(repo, :changelog_path, 'CHANGELOG.md') %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
