<h1>
  Hackathon Repositories
</h1>

<% @repositories.group_by { |r| r.created_at.beginning_of_month }.each do |month, repos| %>
  <h2><%= month.strftime("%B %Y")   %></h2>
  <ul>
    <% repos.sort_by{|r| -(r.internal_package_dependency_ids.length + r.keyword_match_count) }.each do |repo| %>
      <li>
        <%= link_to repo.full_name, repo %>
        <small class='text-muted'>
          <% if repo.internal_package_dependency_ids.length > 0%>
            <%= pluralize repo.internal_package_dependency_ids.length, 'internal dependency' %>
          <% elsif repo.keyword_match_count > 0 %>
            <%= pluralize repo.keyword_match_count, 'keyword match' %>
        <% end %>  
        </small>
      </li>
    <% end %>
  </ul>
<% end%>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

<p>
  <small class='text-muted'>
    <%== pagy_info(@pagy) %>
  </small>
</p>
