<% content_for :rss do %>
  <%= auto_discovery_link_tag :rss, url_for(request.params.merge(page: nil, format: :rss, only_path: false)) %>
<% end %>

<nav class="mb-2 mt-2 navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand" >
    <strong>Internal Repositories</strong>
  </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills mr-auto">
      <% if Organization.internal.count > 1 %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= 'active' if params[:org].present? %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Organisation</a>
          <div class="dropdown-menu">
            <% if params[:org].present? %>
              <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, org: nil)) %>">
                <%= params[:org] %>
              </a>
            <% end %>
            <% @orgs.sort_by(&:last).reverse.reject{|r| r[0].blank? }.each do |org,count| %>
              <% unless org == params[:org] %>
                <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, org: org)) %>">
                  <%= org %>
                  <small class='text-muted'>
                    <%= number_with_delimiter count %>
                  </small>
                </a>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= 'active' if params[:language].present? %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Language</a>
        <div class="dropdown-menu">
          <% if params[:language].present? %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, language: nil)) %>">
              <%= language_title(params[:language]) %>
            </a>
          <% end %>
          <% @languages.sort_by(&:last).reverse.reject{|r| r[0].blank? || r[1].zero? }.each do |language,count| %>
            <% unless language == params[:language] %>
              <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, language: language)) %>">
                <%= language_title(language) %>
                <small class='text-muted'>
                  <%= number_with_delimiter count %>
                </small>
              </a>
            <% end %>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= 'active' if params[:fork].present? || params[:archived].present? %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Type</a>
        <div class="dropdown-menu">
          <% if params[:fork].present? && params[:fork] == 'false' %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, fork: nil)) %>">
              Source
            </a>
          <% else %>
            <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, fork: 'false')) %>">
              Source
            </a>
          <% end %>
          <% if params[:fork].present? && params[:fork] == 'true' %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, fork: nil)) %>">
              Fork
            </a>
          <% else %>
            <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, fork: 'true')) %>">
              Fork
            </a>
          <% end %>
          <% if params[:archived].present? && params[:archived] == 'false' %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, archived: nil)) %>">
              Active
            </a>
          <% else %>
            <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, archived: 'false')) %>">
              Active
            </a>
          <% end %>
          <% if params[:archived].present? && params[:archived] == 'true' %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, archived: nil)) %>">
              Archived
            </a>
          <% else %>
            <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, archived: 'true')) %>">
              Archived
            </a>
          <% end %>
        </div>
      </li>
    </ul>
    <ul class="nav nav-pills ml-auto">
      <%= render 'sort_filter' %>
    </ul>
  </div>
</nav>

<%= render @repositories %>
<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

<p>
  <small class='text-muted'>
    RSS feed for this page: <%= link_to truncate(url_for(request.params.merge(page: nil, format: :rss, only_path: false)), length: 100), url_for(request.params.merge(page: nil, format: :rss, only_path: false)) %>
  </small>
</p>
