<h1>Repository Map</h1>

<% if Organization.internal.count > 1 %>
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link <%= 'active' if params[:organization].blank? %>" href="<%= url_for(request.params.merge(organization: nil)) %>">
        All
      </a>
    </li>
    <% Organization.internal.order('id asc').each do |organization| %>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if organization.name == params[:organization] %>" href="<%= url_for(request.params.merge(organization: organization.name)) %>">
          <%= organization.name %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @user_go_libs.any? %>
  <h2>
    Go Libraries
    <small class='text-muted'>(<%= @user_go_libs.length %>)</small>
  </h2>

  <% @user_go_libs.sort_by{|r| -r.packages.sum(&:dependent_repos_count) }.each do |r| %>
    <p>
      <% if params[:organization].blank? %><img src="https://github.com/<%= r.org %>.png" class="rounded" height='18' width='18'><% end %>
      <strong><%= link_to r.full_name, r.html_url %></strong>
      <small><% r.topics.each do |t| %> <span class="badge badge-info"><%= t %></span> <% end %></small>
      <% dependents_count = r.packages.sum(&:dependent_repos_count) %>
      <small><%= link_to pluralize(dependents_count, 'user'), repository_path(r) %></small>
      <br/>
      <%= r.description %>
    </p>
  <% end %>
  <hr>
<% end %>

<% if @internal_go_libs.any? %>
  <h2>
    Go Internal Libraries
    <small class='text-muted'>(<%= @internal_go_libs.length %>)</small>
  </h2>

  <% @internal_go_libs.each do |r| %>
    <p>
      <% if params[:organization].blank? %><img src="https://github.com/<%= r.org %>.png" class="rounded" height='18' width='18'><% end %>
      <strong><%= link_to r.full_name, r.html_url %></strong>
      <small><% r.topics.each do |t| %> <span class="badge badge-info"><%= t %></span> <% end %></small>
      <br/>
      <%= r.description %>
    </p>
  <% end %>
  <hr>
<% end %>


<% if @go_tools.any? %>
  <h2>
    Go Utilities and Apps
    <small class='text-muted'>(<%= @go_tools.length %>)</small>
  </h2>

  <% @go_tools.each do |r| %>
    <p>
      <% if params[:organization].blank? %><img src="https://github.com/<%= r.org %>.png" class="rounded" height='18' width='18'><% end %>
      <strong><%= link_to r.full_name, r.html_url %></strong> <small><% r.topics.each do |t| %> <span class="badge badge-info"><%= t %></span> <% end %></small>
      <br/>
      <%= r.description %>
    </p>
  <% end %>
  <hr>
<% end %>

<% if @user_javascript_libs.any? %>
  <h2>
    JavaScript Libraries
    <small class='text-muted'>(<%= @user_javascript_libs.length %>)</small>
  </h2>

  <% @user_javascript_libs.sort_by{|r| -r.packages.sum(&:dependent_repos_count) }.each do |r| %>
    <p>
      <% if params[:organization].blank? %><img src="https://github.com/<%= r.org %>.png" class="rounded" height='18' width='18'><% end %>
      <strong><%= link_to r.full_name, r.html_url %></strong> <small><% r.topics.each do |t| %> <span class="badge badge-info"><%= t %></span> <% end %> <% if r.language != 'JavaScript' %> <span class='text-muted'> <%= r.language %></span><% end %> </small>
      <% dependents_count = r.packages.sum(&:dependent_repos_count) %>
      <small><%= link_to pluralize(dependents_count, 'user'), repository_path(r) %></small>
      <br/>
      <%= r.description %>
    </p>
  <% end %>
  <hr>
<% end %>

<% if @internal_javascript_libs.any? %>
  <h2>
    JavaScript Internal Libraries
    <small class='text-muted'>(<%= @internal_javascript_libs.length %>)</small>
  </h2>

  <% @internal_javascript_libs.each do |r| %>
    <p>
      <% if params[:organization].blank? %><img src="https://github.com/<%= r.org %>.png" class="rounded" height='18' width='18'><% end %>
      <strong><%= link_to r.full_name, r.html_url %></strong> <small><% r.topics.each do |t| %> <span class="badge badge-info"><%= t %></span> <% end %> <% if r.language != 'JavaScript' %> <span class='text-muted'> <%= r.language %></span><% end %> </small>
      <br/>
      <%= r.description %>
    </p>
  <% end %>
  <hr>
<% end %>

<% if @javascript_tools.any? %>
  <h2>
    JavaScript Utilities and Apps
    <small class='text-muted'>(<%= @javascript_tools.length %>)</small>
  </h2>

  <% @javascript_tools.each do |r| %>
    <p>
      <% if params[:organization].blank? %><img src="https://github.com/<%= r.org %>.png" class="rounded" height='18' width='18'><% end %>
      <strong><%= link_to r.full_name, r.html_url %></strong> <small><% r.topics.each do |t| %> <span class="badge badge-info"><%= t %></span> <% end %> <% if r.language != 'JavaScript' %> <span class='text-muted'> <%= r.language %></span><% end %> </small>
      <br/>
      <%= r.description %>
    </p>
  <% end %>
  <hr>
<% end %>

<% if @documentation.any? %>
  <h2>
    Documentation and Coordination
    <small class='text-muted'>(<%= @documentation.length %>)</small>
  </h2>

  <% @documentation.each do |r| %>
  <p>
    <% if params[:organization].blank? %><img src="https://github.com/<%= r.org %>.png" class="rounded" height='18' width='18'><% end %>
    <strong><%= link_to r.full_name, r.html_url %></strong><small><% r.topics.each do |t| %> <span class="badge badge-info"><%= t %></span> <% end %></small><br/>
    <%= r.description %>
  </p>
  <% end %>
  <hr>
<% end %>

<% if @infratructure.any? %>
  <h2>
    Infratructure
    <small class='text-muted'>(<%= @infratructure.length %>)</small>
  </h2>

  <% @infratructure.each do |r| %>
  <p>
    <% if params[:organization].blank? %><img src="https://github.com/<%= r.org %>.png" class="rounded" height='18' width='18'><% end %>
    <strong><%= link_to r.full_name, r.html_url %></strong><small><% r.topics.each do |t| %> <span class="badge badge-info"><%= t %></span> <% end %></small><br/>
    <%= r.description %>
  </p>
  <% end %>
  <hr>
<% end %>

<% if @websites.any? %>
  <h2>
    Websites
    <small class='text-muted'>(<%= @websites.length %>)</small>
  </h2>

  <% @websites.each do |r| %>
  <p>
    <% if params[:organization].blank? %><img src="https://github.com/<%= r.org %>.png" class="rounded" height='18' width='18'><% end %>
    <strong><%= link_to r.full_name, r.html_url %></strong><small><% r.topics.each do |t| %> <span class="badge badge-info"><%= t %></span> <% end %></small><br/>
    <%= r.description %>
  </p>
  <% end %>
  <hr>
<% end %>

<% if @others.any? %>
  <h2>
    Other
    <small class='text-muted'>(<%= @others.length %>)</small>
  </h2>

  <% @others.each do |r| %>
  <p>
    <% if params[:organization].blank? %><img src="https://github.com/<%= r.org %>.png" class="rounded" height='18' width='18'><% end %>
    <strong><%= link_to r.full_name, r.html_url %></strong><small><% r.topics.each do |t| %> <span class="badge badge-info"><%= t %></span> <% end %><span class='text-muted'> <%= r.language %></span></small><br/>
    <%= r.description %>
  </p>
  <% end %>
  <hr>
<% end %>

<% if @forks.any? %>
  <h2>
    Forks
    <small class='text-muted'>(<%= @forks.length %>)</small>
  </h2>

  <% @forks.each do |r| %>
  <p>
    <% if params[:organization].blank? %><img src="https://github.com/<%= r.org %>.png" class="rounded" height='18' width='18'><% end %>
    <strong><%= link_to r.full_name, r.html_url %></strong><small><% r.topics.each do |t| %> <span class="badge badge-info"><%= t %></span> <% end %>  <span class='text-muted'> <%= r.language %></span></small> <br/>
    <%= r.description %>
  </p>
  <% end %>
  <hr>
<% end %>

<% if @archived.any? %>
  <h2>
    Archived
    <small class='text-muted'>(<%= @archived.length %>)</small>
  </h2>

  <% @archived.each do |r| %>
  <p>
    <% if params[:organization].blank? %><img src="https://github.com/<%= r.org %>.png" class="rounded" height='18' width='18'><% end %>
    <strong><%= link_to r.full_name, r.html_url %></strong><small><% r.topics.each do |t| %> <span class="badge badge-info"><%= t %></span> <% end %>  <span class='text-muted'> <%= r.language %></span></small> <br/>
    <%= r.description %>
  </p>
  <% end %>
<% end %>
