<h1>
  <span class='mr-1' style='color: <%= @repository.color %>;' title='<%= @repository.language %>'>
    <%= octicon(repo_icon(@repository), height: 36) %>
  </span>
  <%= link_to @repository.full_name, "https://github.com/#{@repository.full_name}", target: :_blank %>
</h1>

<p>
  <%= @repository.description %>
</p>

<p>
<small class='text-muted'>
  Language: <%= @repository.language %><br/>
  Last pushed: <%= distance_of_time_in_words_to_now @repository.pushed_at %> ago<br/>
  Size: <%= number_to_human_size @repository.size*1000 %><br/>
  Dependencies: <%= number_with_delimiter @manifests.map(&:repository_dependencies).flatten.length %>
</small>
</p>

<% if @repository.packages.present? %>
  <h5>Packages</h5>

  <div class="card mb-3">
    <ul class="list-group list-group-flush">
      <% @repository.packages.each do |package| %>
        <li class="list-group-item">
          <%= package.platform_name %> - <%= link_to package.name, package_path(package.id) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @manifests.present? %>
  <h5>
    Dependencies
  </h5>

  <% @manifests.each do |manifest| %>
    <div class="card mb-3">
      <div class="card-header">
        <%= link_to manifest.filepath, manifest.repository_link, target: :_blank %>
      </div>
      <ul class="list-group list-group-flush">
        <% if manifest.lockfile? %>
          <li class="list-group-item">
            <%= link_to pluralize(manifest.repository_dependencies.length, 'dependencies'), manifest.repository_link, target: :_blank %>
          </li>
        <% else %>
          <% manifest.repository_dependencies.sort_by(&:package_name).each do |dependency| %>
            <li class="list-group-item">
              <% if dependency.package %>
                <%= link_to dependency.package_name, package_url(dependency.package.id) %>
              <% else %>
                <%= dependency.package_name %>
              <% end %>
              <%= dependency.requirements %>
              <small class='text-muted'>
              <% if dependency.kind != 'runtime' %>
                <%= dependency.kind %>
              <% end %>
              <% if dependency.optional %>
                (optional)
              <% end %>
              </small>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
