<% @page_title = @repository.full_name %>
<h1>
  <span class='mr-1' style='color: <%= @repository.color %>;' title='<%= @repository.language %>'>
    <% if @repository.organization %>
      <%= link_to octicon(repo_icon(@repository), height: 36), org_path(@repository.organization) %>
    <% else %>
      <%= octicon(repo_icon(@repository), height: 36) %>
    <% end %>
  </span>
  <%= link_to @repository.full_name, "https://github.com/#{@repository.full_name}", target: :_blank %>
</h1>

<p>
  <%= @repository.description %>
</p>

<div class="row">
  <div class="col-md-4">
    <p><small class='text-muted'>
      <a href='' data-toggle="popover" data-html="true" data-trigger="hover" title="Score breakdown" data-content="<%= render 'score_breakdown' %>">Ecosystem Score: <%= @repository.score %></a>
      <br/>
      Stars: <%= number_with_delimiter @repository.stargazers_count %><br/>
      Forks: <%= number_with_delimiter @repository.forks_count %><br/>
      Open Issues: <%= number_with_delimiter @repository.open_issues_count %><br/>
      Watchers: <%= number_with_delimiter @repository.subscribers_count %><br/>
    </small></p>
  </div>
  <div class="col-md-4">
    <p><small class='text-muted'>
      Language: <%= @repository.language %><br/>
      Repo Size: <%= number_to_human_size @repository.size*1000 %><br/>
      Direct internal dependencies: <%= number_with_delimiter @repository.direct_internal_dependency_package_ids.length %><br/>
      Indirect internal dependencies: <%= number_with_delimiter @repository.indirect_internal_dependency_package_ids.length %><br/>
      Total Dependencies: <%= number_with_delimiter @manifests.map(&:repository_dependencies).flatten.length %><br/>
    </small></p>
  </div>
  <div class="col-md-4">
    <p><small class='text-muted'>
      Created: <%= distance_of_time_in_words_to_now @repository.created_at %> ago<br/>
      Updated: <%= distance_of_time_in_words_to_now @repository.updated_at %> ago<br/>
      Last pushed: <%= distance_of_time_in_words_to_now @repository.pushed_at %> ago<br/>
      Last synced: <%= distance_of_time_in_words_to_now @repository.last_sync_at %> ago
    </small></p>
  </div>
</div>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:tab].blank? || params[:tab] == 'events' %>" href="<%= url_for(request.params.merge(tab: 'events', page: 1)) %>">
      Events
      <span class='badge badge-secondary'><%= number_to_human @events_pagy.count %></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:tab] == 'search' %>" href="<%= url_for(request.params.merge(tab: 'search', page: 1)) %>">
      Search results
      <span class='badge badge-secondary'><%= number_to_human @results_pagy.count %></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:tab] == 'packages' %>" href="<%= url_for(request.params.merge(tab: 'packages', page: 1)) %>">
      Packages
      <span class='badge badge-secondary'><%= number_to_human @repository.packages.count %></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:tab] == 'dependencies' %>" href="<%= url_for(request.params.merge(tab: 'dependencies', page: 1)) %>">
      All Deps
      <span class='badge badge-secondary'><%= number_to_human @repository.repository_dependencies.length %></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:tab] == 'internal_direct' %>" href="<%= url_for(request.params.merge(tab: 'internal_direct', page: 1)) %>">
      Internal Direct Deps
      <span class='badge badge-secondary'><%= number_to_human @repository.direct_internal_dependency_package_ids.length %></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:tab] == 'internal_indirect' %>" href="<%= url_for(request.params.merge(tab: 'internal_indirect', page: 1)) %>">
      Internal Indirect Deps
      <span class='badge badge-secondary'><%= number_to_human @repository.indirect_internal_dependency_package_ids.length %></span>
    </a>
  </li>
</ul>

<%= case params[:tab]
when 'dependencies'
  render 'dependencies'
when 'packages'
  render 'packages'
when 'internal_direct'
  render 'internal_direct'
when 'internal_indirect'
  render 'internal_indirect'
when 'search'
  render 'search'
else
  render 'events'
end %>
