<% content_for :rss do %>
  <%= auto_discovery_link_tag :rss, url_for(request.params.merge(page: nil, format: :rss, only_path: false)) %>
<% end %>

<nav class="mb-2 mt-2 navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand" >
    <strong>
      <%= @page_title %>
    </strong>
  </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills mr-auto">
      <%= render partial: 'issues/excludable_filter', locals: {filter_name: 'repository_full_name', filter_label: 'Repository', filter_collection: @repos} %>
      <%= render partial: 'issues/excludable_filter', locals: {filter_name: 'org', filter_label: 'Owner', filter_collection: @orgs} %>
      <%= render partial: 'issues/excludable_filter', locals: {filter_name: 'kind', filter_label: 'Result Type', filter_collection: @kinds} %>
      <%= render 'issues/range_filter' %>
    </ul>
  </div>
</nav>

<% if @search_results.any? %>
  <div class="mb-3">
    <%= line_chart @scope.group_by_day(:created_at).count, colors: ['#bbb'], height: "80px", library: { scales: { yAxes: [{ display: false }], xAxes: [{ display: false }] }}, points: false %>
  </div>
  <%= render @search_results %>
<% else %>
  <p>No results found.</p>
<% end %>
<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

<p>
  <small class='text-muted'>
    RSS feed for this page: <%= link_to truncate(url_for(request.params.merge(page: nil, format: :rss, only_path: false)), length: 100), url_for(request.params.merge(page: nil, format: :rss, only_path: false)) %>
  </small>
</p>
