<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle <%= 'active' if (params[:collab].present? || params[:exclude_collab].present?) %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Collabs</a>
  <div class="dropdown-menu">
    <% if params[:collab].present? %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, collab: nil)) %>">
        <%= params[:collab] %>
      </a>
    <% end %>
    <% if params[:exclude_collab].present? %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, exclude_collab: nil)) %>">
        Excluding: <%= params[:exclude_collab] %>
      </a>
    <% end %>
    <% @collabs.sort_by(&:last).reverse.reject{|r| r[0].blank? }.each do |collab,count| %>
      <% unless collab == params[:collab] %>
        <a class="dropdown-item" data-alt="<%= url_for(request.params.merge(page: nil, exclude_collab: collab)) %>" href="<%= url_for(request.params.merge(page: nil, collab: collab)) %>"
          title="cmd+click to exclude <%= collab %>">
          <%= collab %>
          <small class='text-muted'>
            <%= number_with_delimiter count %>
          </small>
        </a>
      <% end %>
    <% end %>
  </div>
</li>
