<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle <%= 'active' if (params[:language].present? || params[:exclude_language].present?) %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Language</a>
  <div class="dropdown-menu">
    <% if params[:language].present? %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, language: nil)) %>">
        <%= language_title(params[:language]) %>
      </a>
    <% end %>
    <% if params[:exclude_language].present? %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, exclude_language: nil)) %>">
        Excluding: <%= params[:exclude_language] %>
      </a>
    <% end %>
    <% @languages.sort_by(&:last).reverse.reject{|r| r[0].blank? || r[1].zero? }.each do |language,count| %>
      <% unless language == params[:language] %>
        <a class="dropdown-item" data-alt="<%= url_for(request.params.merge(page: nil, exclude_language: language)) %>" href="<%= url_for(request.params.merge(page: nil, language: language)) %>"
          title="cmd+click to exclude <%= language %>">
          <%= language_title(language) %>
          <small class='text-muted'>
            <%= number_with_delimiter count %>
          </small>
        </a>
      <% end %>
    <% end %>
  </div>
</li>
