<% if Organization.internal.count > 1 %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle <%= 'active' if (params[:org].present? || params[:exclude_org].present?) %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Organisation</a>
    <div class="dropdown-menu">
      <% if params[:org].present? %>
        <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, org: nil)) %>">
          <%= params[:org] %>
        </a>
      <% end %>
      <% if params[:exclude_org].present? %>
        <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, exclude_org: nil)) %>">
          Excluding: <%= params[:exclude_org] %>
        </a>
      <% end %>
      <% @orgs.sort_by(&:last).reverse.reject{|r| r[0].blank? }.each do |org,count| %>
        <% unless org == params[:org] %>
          <a class="dropdown-item" data-alt="<%= url_for(request.params.merge(page: nil, exclude_org: org)) %>"  href="<%= url_for(request.params.merge(page: nil, org: org)) %>"
            title="cmd+click to exclude <%= org %>">
            <%= org %>
            <small class='text-muted'>
              <%= number_with_delimiter count %>
            </small>
          </a>
        <% end %>
      <% end %>
    </div>
  </li>
<% end %>
