<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle <%= 'active' if (params[:repo_full_name].present? || params[:exclude_repo].present?) %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Repository</a>
  <div class="dropdown-menu">
    <% if params[:repo_full_name].present? %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, repo_full_name: nil)) %>">
        <%= params[:repo_full_name] %>
      </a>
    <% end %>
    <% if params[:exclude_repo].present? %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, exclude_repo: nil)) %>">
        Excluding: <%= params[:exclude_repo] %>
      </a>
    <% end %>
    <% @repos.sort_by(&:last).reverse.reject{|r| r[0].blank? }.each do |repo,count| %>
      <% unless repo == params[:repo_full_name] %>
        <a class="dropdown-item" data-alt="<%= url_for(request.params.merge(page: nil, exclude_repo: repo)) %>" href="<%= url_for(request.params.merge(page: nil, repo_full_name: repo)) %>"
          title="cmd+click to exclude <%= repo %>">
          <%= repo %>
          <small class='text-muted'>
            <%= number_with_delimiter count %>
          </small>
        </a>
      <% end %>
    <% end %>
  </div>
</li>
