<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle <%= 'active' if params[:type].present? %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Type</a>
  <div class="dropdown-menu">
    <% @types.sort_by(&:last).reverse.reject{|r| r[0].blank? || r[1].zero? }.each do |type,count| %>
      <% if params[:type].present? && type == params[:type] %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, type: nil)) %>">
        <%= type.humanize %>
      </a>
      <% else %>
        <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, type: type)) %>">
          <%= type.humanize %>
          <small class='text-muted'>
            <%= number_with_delimiter count %>
          </small>
        </a>
      <% end %>
    <% end %>
  </div>
</li>
