<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle <%= 'active' if (params[:user].present? || params[:exclude_user].present?) %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Author</a>
  <div class="dropdown-menu">
    <% if params[:user].present? %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, user: nil)) %>">
        <%= params[:user] %>
      </a>
    <% end %>
    <% if params[:exclude_user].present? %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, exclude_user: nil)) %>">
        Excluding: <%= params[:exclude_user] %>
      </a>
    <% end %>
    <% @users.sort_by(&:last).reverse.reject{|r| r[0].blank? }.each do |user,count| %>
      <% unless params[:user] == user %>
        <a class="dropdown-item" data-alt="<%= url_for(request.params.merge(page: nil, exclude_user: user)) %>" href="<%= url_for(request.params.merge(page: nil, user: user)) %>"
          title="cmd+click to exclude <%= user %>">
          <%= user %>
          <small class='text-muted'>
            <%= number_with_delimiter count %>
          </small>
        </a>
      <% end %>
    <% end %>
  </div>
</li>
