<% content_for :rss do %>
  <%= auto_discovery_link_tag :rss, url_for(request.params.merge(page: nil, format: :rss, only_path: false)) %>
<% end %>


<nav class="mb-2 mt-2 navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand" >
    <strong>Slow responses</strong>
  </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills mr-auto">
      <%= render partial: 'excludable_filter', locals: {filter_name: 'user', filter_label: 'User', filter_collection: @users} %>
      <%= render 'state_filter' %>
      <%= render 'type_filter' %>
      <%= render partial: 'excludable_filter', locals: {filter_name: 'repo_full_name', filter_label: 'Repo', filter_collection: @repos} %>
      <%= render partial: 'excludable_filter', locals: {filter_name: 'org', filter_label: 'Org', filter_collection: @orgs} if Organization.internal.count > 1 %>
      <%= render partial: 'excludable_filter', locals: {filter_name: 'language', filter_label: 'Language', filter_collection: @languages} %>
      <%= render partial: 'excludable_filter', locals: {filter_name: 'collab', filter_label: 'Collab', filter_collection: @collabs} %>
      <%= render partial: 'excludable_filter', locals: {filter_name: 'label', filter_label: 'Label', filter_collection: @labels} %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= 'active' if params[:uncommented].present? || params[:no_milestone].present? || params[:unlabelled].present? %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Extras</a>
        <div class="dropdown-menu">
          <% if params[:uncommented].present? %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, uncommented: nil)) %>">
              Uncommented
            </a>
          <% else %>
            <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, uncommented: 'true')) %>">
              Uncommented
            </a>
          <% end %>
          <% if params[:no_milestone].present? %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, no_milestone: nil)) %>">
              No Milestone
            </a>
          <% else %>
            <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, no_milestone: 'true')) %>">
              No Milestone
            </a>
          <% end %>
          <% if params[:unlabelled].present? %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, unlabelled: nil)) %>">
              Unlabelled
            </a>
          <% else %>
            <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, unlabelled: 'true')) %>">
              Unlabelled
            </a>
          <% end %>
        </div>
      </li>
      <%= render 'range_filter' %>
    </ul>
    <ul class="nav nav-pills ml-auto">
      <%= render 'sort_filter' %>
    </ul>
  </div>
</nav>

<div class="row mb-3">
  <div class="col-md-12">
    <% range = @date_range.days.ago.midnight..2.days.ago %>
    <% if @range > 30 %>
    <%= line_chart [
        {name: 'Slow Responses', data: @slow.group_by_week(:created_at, range: range).count },
        {name: 'New Issues + PRs', data: @scope.group_by_week(:created_at, range: range).count }
      ], ytitle: 'Slow Responses' %>
    <% else %>
      <%= line_chart [
          {name: 'Slow Responses', data: @slow.group_by_day(:created_at, range: range).count },
          {name: 'New Issues + PRs', data: @scope.group_by_day(:created_at, range: range).count }
        ], ytitle: 'Slow Responses' %>
    <% end %>

    <%= line_chart @response_times, label: "Hours", ytitle: 'Avg Response Time (hrs)' %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-9">
    <% responded = @scope.where.not(response_time: nil) %>
    <% if responded.count > 0 %>
    <h5>Avg first response time for <%= responded.count %> issues+prs this week: <%= (responded.average(:response_time)/60.0/60.0).round(1) %> hours</h5>
    <% end %>

    <% if @issues.any? %>
      <h5 class='mb-2'>
        <%= 'Uncommented' if params[:uncommented] %>
        <%= language_title(params[:language]) if params[:language] %>
        <%= params[:state] ? params[:state].capitalize : 'All' %>
        <%= params[:type] ? params[:type].humanize : 'Issues and PRs' %>
        in the last <%= @range %> days
        <%= "on #{params[:repo_full_name]}" if params[:repo_full_name] %>
        <%= "in #{params[:org]}" if params[:org] && params[:repo_full_name].blank? %>
        with slow response times:
        <%= @pagy.count %> out of <%= @scope.count %>
        <small class='text-muted'>
           (<%= number_to_percentage (@pagy.count.to_f/@scope.count)*100 %>)
        </small>
      </h5>

      <%= render @issues %>
    <% else %>
      <p>No slow issues or pull requests found.</p>
    <% end %>

    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

    <p>
      <small class='text-muted'>
        RSS feed for this page: <%= link_to truncate(url_for(request.params.merge(page: nil, format: :rss, only_path: false)), length: 100), url_for(request.params.merge(page: nil, format: :rss, only_path: false)) %>
      </small>
    </p>
  </div>
  <div class="col-md-3">
    <%= render 'collabs' %>
    <%= render 'contributors' %>
  </div>
</div>
