<h1>This Week in Collabs</h1>

<div class="row mt-3 mb-3">
  <div class="col-md-12">
    <ul class="nav nav-pills d-flex">
      <%= render 'user_filter' %>
      <%= render 'state_filter' %>
      <%= render 'type_filter' %>
      <%= render 'repo_filter' %>
      <%= render 'org_filter' %>
      <%= render 'language_filter' %>
      <%= render 'collab_filter' %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= 'active' if params[:uncommented].present? || params[:no_milestone].present? || params[:unlabelled].present? %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Extras</a>
        <div class="dropdown-menu">
          <% if params[:uncommented].present? %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, uncommented: nil)) %>">
              Uncommented
            </a>
          <% else %>
            <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, uncommented: 'true')) %>">
              Uncommented
            </a>
          <% end %>
          <% if params[:no_milestone].present? %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, no_milestone: nil)) %>">
              No Milestone
            </a>
          <% else %>
            <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, no_milestone: 'true')) %>">
              No Milestone
            </a>
          <% end %>
          <% if params[:unlabelled].present? %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, unlabelled: nil)) %>">
              Unlabelled
            </a>
          <% else %>
            <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, unlabelled: 'true')) %>">
              Unlabelled
            </a>
          <% end %>
        </div>
      </li>
      <%= render 'sort_filter' %>
    </ul>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <%= line_chart [
      {name: 'New Issues + PRs', data: @opened.group_by_day(:created_at, last: 7).count },
      {name: 'Closed/Merged Issues + PRs', data: @closed.group_by_day(:closed_at, last: 7).count }
    ], height: "200px", colors: ["#5cb85c", "#d9534f"] %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-9">
    <% if @issues.any? %>
      <h5 class='mb-2'>
        <%= 'Uncommented' if params[:uncommented] %>
        <%= language_title(params[:language]) if params[:language] %>
        <%= params[:state].capitalize if params[:state] %>
        Issues+PRs
        <%= 'in the last month' if params[:recent] %>
        created by
        <% if params[:user].present? %>
          <%= params[:user] %>
        <% else %>
          all <%= collab_title %> contributors
        <% end %>
        <%= "on #{params[:repo_full_name]}" if params[:repo_full_name] %>
        <%= "in #{params[:org]}" if params[:org] %>
        <small class='text-muted'>
          <%= @opened.count %> opened -
          <%= @closed.count %> closed
        </small>
      </h5>

      <%= render @issues %>
    <% else %>
      <p>No issues or pull requests found.</p>
    <% end %>

    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>
  <% if @issues.any? %>
    <div class="col-md-3">
      <%= render 'collabs' %>
      <%= render 'contributors' %>
    </div>
  <% end %>
</div>
