<% content_for :rss do %>
  <%= auto_discovery_link_tag :rss, url_for(request.params.merge(page: nil, format: :rss, only_path: false)) %>
<% end %>

<h1 class='mt-2 mb-2'>Collabs</h1>

<% @collabs.in_groups_of(3, false).each do |group| %>
  <div class="card-deck mb-4">
    <% group.each do |collab, count| %>
      <div class="card" >
        <div class="card-header">
          <h3 class=m-0>
            <img src="https://github.com/<%= collab %>.png" class="rounded" height='30'>
            <%= link_to collab, org_path(collab) %>
            <%= link_to octicon('mark-github'), "https://github.com/"+collab, target: :_blank %>
          </h3>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item pt-2 pb-2">
            <%= link_to collab_repositories_path(org: collab) do %>
              <%= octicon('repo') %> Repositories
              <small class='text-muted'><%= number_with_delimiter Repository.where(org: collab).count %></small>
            <% end %>
          </li>
          <li class="list-group-item pt-2 pb-2">
            <%= octicon('issue-opened') %> Issues
            <small class='text-muted'><%= number_with_delimiter @scope.collab(collab).select(:html_url).reject(&:pull_request?).length %></small>
          </li>
          <li class="list-group-item pt-2 pb-2">
            <%= octicon('git-pull-request') %> Pull Requests
            <small class='text-muted'><%= number_with_delimiter @scope.collab(collab).select(:html_url).select(&:pull_request?).length %></small>
          </li>
          <% contributors = @scope.collab(collab).humans.group(:user).count.sort_by{|k,v| -v} %>
          <li class="list-group-item pt-2 pb-2">
            <%= octicon('person') %> Unique Contributors
            <small class='text-muted'><%= number_with_delimiter contributors.length %></small>
          </li>
          <% contributors.first(3).each do |user, count| %>
            <li class="list-group-item pt-2 pl-5 pb-2">
              <img src="https://github.com/<%= user %>.png" class="rounded" height='20'>
              <%= user %>
              <small class='text-muted'><%= number_with_delimiter count %></small>
            </li>
          <% end %>

          <% related_collabs = @scope.collab(collab).pluck(:collabs).flatten.inject(Hash.new(0)) { |h, e| h[e] += 1 ; h }.sort_by{|k,v| -v}.reject{|k,v| k == collab } %>

          <% if related_collabs.any? %>
            <li class="list-group-item pt-2 pb-2">
              <%= octicon('organization') %> Related collabs
              <small class='text-muted'><%= number_with_delimiter related_collabs.length %></small>
            </li>

            <% related_collabs.first(3).each do |related_collab, count| %>
              <li class="list-group-item pt-2 pl-5 pb-2">
                <img src="https://github.com/<%= related_collab %>.png" class="rounded" height='20'>
                <%= related_collab %>
                <small class='text-muted'><%= number_with_delimiter count %></small>
              </li>
            <% end %>
          <% end %>

          <% orgs = @scope.collab(collab).group(:org).count.sort_by{|k,v| -v} %>
          <li class="list-group-item pt-2 pb-2">
            <%= octicon('person') %> Most Active Orgs
            <small class='text-muted'><%= number_with_delimiter orgs.length %></small>
          </li>
          <% orgs.first(2).each do |org, count| %>
            <li class="list-group-item pt-2 pl-5 pb-2">
              <img src="https://github.com/<%= org %>.png" class="rounded" height='20'>
              <%= org %>
              <small class='text-muted'><%= number_with_delimiter count %></small>
            </li>
          <% end %>

        </ul>
      </div>
    <% end %>
  </div>
<% end %>

<p>
  <small class='text-muted'>
    RSS feed for this page: <%= link_to truncate(url_for(request.params.merge(page: nil, format: :rss, only_path: false)), length: 100), url_for(request.params.merge(page: nil, format: :rss, only_path: false)) %>
  </small>
</p>
