<h1>
  <%= params[:id] %> dependencies
</h1>

<div class="dependencies">
  <% @repositories.each do |repo| %>
    <% if repo.manifests.any? && repo.manifests.any?{|m| m.repository_dependencies.any? } %>
      <h5>
        <%= repo.full_name %>
        <small class='text-muted'>
          Last pushed: <%= distance_of_time_in_words_to_now repo.pushed_at %> ago
        </small>
      </h5>
      <% repo.manifests.each do |manifest| %>
        <% next unless manifest.repository_dependencies.any?  %>
        <div class="card mb-3">
          <div class="card-header collapsed" title='Click to expand/collapse' data-toggle="collapse" href="#manifest-<%= manifest.id %>">
            <%= manifest.filepath %>
            <small class='text-muted'>
              <%= manifest.repository_dependencies.group_by(&:package_name).keys.length %> unique packages
            </small>
          </div>
          <ul id='manifest-<%= manifest.id %>' class="list-group list-group-flush collapse">
            <% manifest.repository_dependencies.group_by(&:package_name).each do |name, dependencies| %>
              <% dependency = dependencies.first %>
              <li class="list-group-item">
                <% if dependency.package %>
                  <%= link_to dependency.package_name, package_url(dependency.package.id) %>
                <% else %>
                  <%= dependency.package_name %>
                <% end %>
                <small class='text-muted'>
                <%= dependencies.map(&:requirements).uniq.join(', ') %>
                <% if dependency.kind != 'runtime' %>
                  - <%= dependency.kind %>
                <% end %>
                <% if dependency.optional %>
                  (optional)
                <% end %>
                </small>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
