<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'issue-opened', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= number_to_human Issue.internal.issues.unlocked.humans.state('open').count %>
                </h3>
                <span>Issues</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'git-pull-request', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= number_to_human Issue.internal.pull_requests.unlocked.humans.state('open').count %>
                </h3>
                <span>Pull Requests</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'repo', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= number_to_human Repository.internal.count %>
                </h3>
                <span>Repositories</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'package', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= number_to_human Package.internal.count %>
                </h3>
                <span>Packages</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
