<h1>PMF Users</h1>

<ul class="nav nav-tabs mb-3">
  <% ['first', 'high', 'low', 'inactive'].each_with_index do |state, i| %>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if (i.zero? && params[:tab].blank?) || params[:tab] == state %>" href="<%= url_for(request.params.merge(tab: state)) %>">
        <%= state %>
      </a>
    </li>
  <% end %>
</ul>

<% @users.each do |user| %>
  <div class="card mb-3">
    <div class="card-body">
        <%= link_to "https://github.com/#{user[:username]}", target: :_blank, class: 'float-left mr-3' do %>
          <img src="https://github.com/<%= user[:username] %>.png" class="rounded" height='40' width='40'>
        <% end %>
      <h5 class="card-title mb-0">
        <%= link_to user[:username], user_path(user[:username]), target: :_blank %>
      </h5>

      <small class='text-muted'>
        <%= link_to user_path(user[:username]) do %>
           <%= pluralize user[:score], 'contribution' %> this week
        <% end %>
      </small>
    </div>
  </div>
<% end %>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
