<h1>
  <%= @username %>
  <%= link_to octicon('mark-github', height: 26), "https://github.com/#{@username}", target: :_blank %>
</h1>

<% if @events.any? %>
  <% first_seen = @events_scope.order('events.created_at ASC').first.created_at %>
  <p>First seen: <%= distance_of_time_in_words_to_now first_seen %> ago</p>

  <p>PMF state this week:<strong>
  <% this_week_events = @events_scope.created_before(Time.now.beginning_of_week).created_after(1.week.ago.beginning_of_week) %>

  <% if first_seen > 1.week.ago.beginning_of_week %>
    first (<%= Pmf.score_for_user(@username, this_week_events) %>)
  <% else %>
     <%= bucket(@username, this_week_events) %>
  <% end %>
  </strong></p>

  <p>PMF state last week:  <strong>
  <% last_week_events = @events_scope.created_before(1.week.ago.beginning_of_week).created_after(2.week.ago.beginning_of_week) %>
  <% if first_seen > 2.week.ago.beginning_of_week %>
    never (<%= Pmf.score_for_user(@username, last_week_events) %>)
  <% else %>
    <%= bucket(@username, last_week_events) %>
  <% end %>
  </strong></p>

<% end %>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:tab].blank? || params[:tab] == 'events' %>" href="<%= url_for(request.params.merge(tab: 'events')) %>">
      Events
      <span class='badge badge-secondary'><%= @events.count %></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:tab] == 'repos' %>" href="<%= url_for(request.params.merge(tab: 'repos')) %>">
      Repos
      <span class='badge badge-secondary'><%= 0 %></span>
    </a>
  </li>
</ul>

<% if @events.any? %>
  <div class="mb-3">
    <%= line_chart @events_scope.group_by_day(:created_at).count, colors: ['#bbb'], height: "80px", library: { scales: { yAxes: [{ display: false }], xAxes: [{ display: false }] }}, points: false %>
  </div>
  <%= render @events %>
<% else %>
  <p>No events found.</p>
<% end %>
<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
