<div class="row">
  <div class="col-md-3">
    <a href="<%= active_collabs_path %>">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'flame', height: 50 %>
              </div>
              <div class="media-body text-right">
                <span class='info' title='Collabs with active contributors on internal repos in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                <h3>
                  <%= number_to_human @active_collabs %>

                  <% active_collabs_diff = @active_collabs - @active_collabs_last_week %>
                  <% unless active_collabs_diff.zero? %>
                    <small class='<%= diff_class(active_collabs_diff) %>' title='<%= @active_collabs_last_week %> search results found in the previous <%= @period %> days'><%= '+' if active_collabs_diff > 0 %><%= number_to_human active_collabs_diff %></small>
                  <% end %>
                </h3>
                <span>Active Collabs</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="<%= community_repositories_path(order: 'desc', sort: 'created_at', range: @period, internal_org: params[:org]) %>">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'heart', height: 50 %>
              </div>
              <div class="media-body text-right">
                <span class='info' title='New community repositories that have been created in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                <h3>
                  <%= number_to_human @new_community_repositories %>

                  <% new_community_repositories_diff = @new_community_repositories - @new_community_repositories_last_week %>
                  <% unless new_community_repositories_diff.zero? %>
                    <small class='<%= diff_class(new_community_repositories_diff) %>' title='<%= @new_community_repositories_last_week %> new community repositories created in the previous <%= @period %> days'><%= '+' if new_community_repositories_diff > 0 %><%= number_to_human new_community_repositories_diff %></small>
                  <% end %>
                </h3>
                <span>Community Repos</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="<%= community_packages_path(order: 'desc', sort: 'created_at', range: @period, internal_org: params[:org]) %>">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'smiley', height: 50 %>
              </div>
              <div class="media-body text-right">
                <span class='info' title='New community packages that have been found in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                <h3>
                  <%= number_to_human @new_community_packages %>

                  <% new_community_packages_diff = @new_community_packages - @new_community_packages_last_week %>
                  <% unless new_community_packages_diff.zero? %>
                    <small class='<%= diff_class(new_community_packages_diff) %>' title='<%= @new_community_packages_last_week %> new community packages found in the previous <%= @period %> days'><%= '+' if new_community_packages_diff > 0 %><%= number_to_human new_community_packages_diff %></small>
                  <% end %>
                </h3>
                <span>Community Pkgs</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="<%= search_path(range: @period) %>">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'search', height: 50 %>
              </div>
              <div class="media-body text-right">
                <span class='info' title='New search results that have been found in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                <h3>
                  <%= number_to_human @new_search_results %>

                  <% new_search_results_diff = @new_search_results - @new_search_results_last_week %>
                  <% unless new_search_results_diff.zero? %>
                    <small class='<%= diff_class(new_search_results_diff) %>' title='<%= @new_search_results_last_week %> search results found in the previous <%= @period %> days'><%= '+' if new_search_results_diff > 0 %><%= number_to_human new_search_results_diff %></small>
                  <% end %>
                </h3>
                <span>Search Results</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
