<nav class="mb-2 mt-2 navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand" >
    <strong>Community activity</strong>
  </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills mr-auto">
      <li class="nav-item <%= 'active bg-light' if params[:range].to_i == 30 %>">
        <a class="nav-link" href=" <%= url_for(request.params.merge(range: 30)) %>">Last 30 days</a>
      </li>
      <li class="nav-item <%= 'active bg-light' if params[:range].to_i == 7 || params[:range].blank? %>">
        <a class="nav-link" href=" <%= url_for(request.params.merge(range: 7)) %>">Last 7 days</a>
      </li>
    </ul>
    <% if Organization.internal.count > 1 %>
      <ul class="nav nav-pills ml-auto">
        <li class="nav-item dropdown <%= 'active' if params[:org].present? %>">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter by Organization
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if params[:org].present? %>
              <a class="dropdown-item active" title='Click to remove org filter' href="<%= url_for(request.params.merge(org: nil)) %>">
                <%= params[:org] %>
              </a>
            <% end %>
            <% Organization.internal.all.each do |org| %>
              <% next if params[:org] == org.name %>
              <a class="dropdown-item" href="<%= url_for(request.params.merge(org: org.name)) %>">
                <%= org.name %>
              </a>
            <% end %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</nav>

<div class="container home">
  <div class="row">
    <div class="col-md-3">
      <a href="<%= all_issues_path(range: @period, type: 'issues', exclude_core: true) %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'issue-opened', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='Issues opened by non-core human contributors in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <%= number_to_human @new_issues %>

                    <% new_issue_diff = @new_issues - @new_issues_last_week %>
                    <% unless new_issue_diff.zero?  %>
                      <small class='<%= diff_class(new_issue_diff) %>' title='<%= @new_issues_last_week %> new issues in the previous <%= @period %> days'><%= '+' if new_issue_diff > 0 %><%= number_to_human new_issue_diff %></small>
                    <% end %>
                  </h3>
                  <span>New Issues</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="<%= all_issues_path(range: @period, type: 'pull_requests', exclude_core: true) %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'git-pull-request', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='Pull Requests opened by non-core human contributors in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <%= number_to_human @new_prs %>

                    <% new_pr_diff = @new_prs - @new_prs_last_week %>
                    <% unless new_pr_diff.zero? %>
                      <small class='<%= diff_class(new_pr_diff) %>' title='<%= @new_prs_last_week %> new pull requests in the previous <%= @period %> days'><%= '+' if new_pr_diff > 0 %><%= number_to_human new_pr_diff %></small>
                    <% end %>
                  </h3>
                  <span>New Pull Requests</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="<%= collab_issues_path(range: @period) %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'briefcase', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='Issues and Pull Requests opened by collaborator human contributors in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <%= number_to_human @new_collab_contribs %>

                    <% new_collab_contribs_diff = @new_collab_contribs - @new_collab_contribs_last_week %>
                    <% unless new_collab_contribs_diff.zero? %>
                      <small class='<%= diff_class(new_collab_contribs_diff) %>' title='<%= @new_collab_contribs_last_week %> collab contributions in the previous <%= @period %> days'><%= '+' if new_collab_contribs_diff > 0 %><%= number_to_human new_collab_contribs_diff %></small>
                    <% end %>
                  </h3>
                  <span>Collab Contributions</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="<%= slow_response_path(range: @period) %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'clock', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='Average time to first response by a core contributor on issues and pull requests opened by non-core human contributors in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <% if @response_time.zero? %>
                      N/A
                    <% else %>
                      <%= @response_time %><small class='text-muted'>hrs</small>
                    <% end %>
                    <% response_time_diff = @response_time - @response_time_last_week %>
                    <% unless response_time_diff.zero? %>
                      <small class='<%= diff_class(-response_time_diff) %>' title='<%= @response_time_last_week %> hrs in the previous <%= @period %> days'> <%= '+' if response_time_diff > 0 %><%= number_to_human response_time_diff %></small>
                    <% end %>
                  </h3>
                  <span>Avg Resp Time</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="<%= events_path(range: @period, event_type: 'WatchEvent', exclude_core: true) %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'star-fill', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='Stars on internal repositories by non-core humans in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <%= number_to_human @stars %>
                    <% stars_diff = @stars - @stars_last_week %>
                    <% unless stars_diff.zero? %>
                      <small class='<%= diff_class(stars_diff) %>' title='<%= @stars_last_week %> stars in the previous <%= @period %> days'> <%= '+' if stars_diff > 0 %><%= number_to_human stars_diff %></small>
                    <% end %>
                  </h3>
                  <span>Stars</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="<%= events_path(range: @period, event_type: 'ForkEvent', exclude_core: true) %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'repo-forked', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='Forks of internal repositories by non-core humans in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <%= number_to_human @forks %>
                    <% forks_diff = @forks - @forks_last_week %>
                    <% unless forks_diff.zero? %>
                      <small class='<%= diff_class(forks_diff) %>' title='<%= @forks_last_week %> forks in the previous <%= @period %> days'> <%= '+' if forks_diff > 0 %><%= number_to_human forks_diff %></small>
                    <% end %>
                  </h3>
                  <span>Forks</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="<%= events_path(range: @period, event_type: 'IssueCommentEvent', exclude_core: true) %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'comment', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='Comments on internal repositories issues and pull requests by non-core humans in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <%= number_to_human @comments %>
                    <% comments_diff = @comments - @comments_last_week %>
                    <% unless comments_diff.zero? %>
                      <small class='<%= diff_class(comments_diff) %>' title='<%= @comments_last_week %> comments in the previous <%= @period %> days'> <%= '+' if comments_diff > 0 %><%= number_to_human comments_diff %></small>
                    <% end %>
                  </h3>
                  <span>Comments</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="<%= slow_response_path(range: @period) %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'question', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='Non-core human contributed issues and pull requests opened in the past <%= @period %> days that had no response or a response time of 48 hours or more from a core contributor'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <%= number_to_human @slow_responses %>
                    <% slow_response_diff = @slow_responses - @slow_responses_last_week %>
                    <% unless slow_response_diff.zero? %>
                      <small class='<%= diff_class(-slow_response_diff) %>' title='<%= @slow_responses_last_week %> slow responses in the previous <%= @period %> days'> <%= '+' if slow_response_diff > 0 %><%= number_to_human slow_response_diff %></small>
                    <% end %>
                  </h3>
                  <span>Slow Responses</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="<%= contributors_path(range: @period) %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'people', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='Unique non-core human contributors that opened an issue or pull request in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <%= number_to_human @contributors %>
                    <% contributors_diff = @contributors - @contributors_last_week %>
                    <% unless contributors_diff.zero? %>
                      <small class='<%= diff_class(contributors_diff) %>' title='<%= @contributors_last_week %> contributors in the previous <%= @period %> days'> <%= '+' if contributors_diff > 0 %><%= number_to_human contributors_diff %></small>
                    <% end %>
                  </h3>
                  <span>Contributors</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="<%= new_contributor_path(range: @period) %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'telescope', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='New unique non-core human contributors that opened an issue or pull request in the past <%= @period %> days that had never opened an issue or pull requests here before'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <%= number_to_human @first_time_contributors %>
                    <% first_time_contributors_diff = @first_time_contributors - @first_time_contributors_last_week %>
                    <% unless first_time_contributors_diff.zero? %>
                      <small class='<%= diff_class(first_time_contributors_diff) %>' title='<%= @first_time_contributors_last_week %> first time contributors in the previous <%= @period %> days'> <%= '+' if first_time_contributors_diff > 0 %><%= number_to_human first_time_contributors_diff %></small>
                    <% end %>
                  </h3>
                  <span>New Contributors</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'git-merge', height: 50 %>
              </div>
              <div class="media-body text-right">
                <span class='info' title='Pull requests opened at any time by non-core human contributors that have been merged in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                <h3>
                  <%= number_to_human @merged_prs %>

                  <% merged_prs_diff = @merged_prs - @merged_prs_last_week %>
                  <% unless merged_prs_diff.zero? %>
                    <small class='<%= diff_class(merged_prs_diff) %>' title='<%= @merged_prs_last_week %> pull requests merged in the previous <%= @period %> days'><%= '+' if merged_prs_diff > 0 %><%= number_to_human merged_prs_diff %></small>
                  <% end %>
                </h3>
                <span>Merged PRs</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <a href="<%= events_path(range: @period, event_type: 'ReleaseEvent') %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'rocket', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='Releases published by anyone in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <%= number_to_human @releases %>

                    <% releases_diff = @releases - @releases_last_week %>
                    <% unless releases_diff.zero? %>
                      <small class='<%= diff_class(releases_diff) %>' title='<%= @releases_last_week %> releases published in the previous <%= @period %> days'><%= '+' if releases_diff > 0 %><%= number_to_human releases_diff %></small>
                    <% end %>
                  </h3>
                  <span>Releases</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="<%= active_collabs_path %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'fire', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='Collabs with active contributors on internal repos in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <%= number_to_human @active_collabs %>

                    <% active_collabs_diff = @active_collabs - @active_collabs_last_week %>
                    <% unless active_collabs_diff.zero? %>
                      <small class='<%= diff_class(active_collabs_diff) %>' title='<%= @active_collabs_last_week %> search results found in the previous <%= @period %> days'><%= '+' if active_collabs_diff > 0 %><%= number_to_human active_collabs_diff %></small>
                    <% end %>
                  </h3>
                  <span>Active Collabs</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="<%= repositories_path(order: 'desc', sort: 'created_at') %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'repo', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='New internal repositories that have been created in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <%= number_to_human @new_repositories %>

                    <% new_repositories_diff = @new_repositories - @new_repositories_last_week %>
                    <% unless new_repositories_diff.zero? %>
                      <small class='<%= diff_class(new_repositories_diff) %>' title='<%= @new_repositories_last_week %> new repositories created in the previous <%= @period %> days'><%= '+' if new_repositories_diff > 0 %><%= number_to_human new_repositories_diff %></small>
                    <% end %>
                  </h3>
                  <span>New Repositories</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="<%= packages_path(order: 'desc', sort: 'created_at') %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'package', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='New internal packages that have been created in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <%= number_to_human @new_packages %>

                    <% new_packages_diff = @new_packages - @new_packages_last_week %>
                    <% unless new_packages_diff.zero? %>
                      <small class='<%= diff_class(new_packages_diff) %>' title='<%= @new_packages_last_week %> packages created in the previous <%= @period %> days'><%= '+' if new_packages_diff > 0 %><%= number_to_human new_packages_diff %></small>
                    <% end %>
                  </h3>
                  <span>New Packages</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="<%= search_path %>">
        <div class="card shadow-sm mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <%= octicon 'search', height: 50 %>
                </div>
                <div class="media-body text-right">
                  <span class='info' title='New search results that have been found in the past <%= @period %> days'><%= octicon 'info', height: 14 %></span>
                  <h3>
                    <%= number_to_human @new_search_results %>

                    <% new_search_results_diff = @new_search_results - @new_search_results_last_week %>
                    <% unless new_search_results_diff.zero? %>
                      <small class='<%= diff_class(new_search_results_diff) %>' title='<%= @new_search_results_last_week %> search results found in the previous <%= @period %> days'><%= '+' if new_search_results_diff > 0 %><%= number_to_human new_search_results_diff %></small>
                    <% end %>
                  </h3>
                  <span>Search Results</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
