<nav class="mb-2 mt-2 navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand" >
    <strong>Community activity</strong>
  </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active bg-light' if params[:range].to_i == 30 %>">
        <a class="nav-link" href=" <%= url_for(request.params.merge(range: 30)) %>">Last 30 days</a>
      </li>
      <li class="nav-item <%= 'active bg-light' if params[:range].to_i == 7 || params[:range].blank? %>">
        <a class="nav-link" href=" <%= url_for(request.params.merge(range: 7)) %>">Last 7 days</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container home">
  <div class="row">
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'issue-opened', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= number_to_human @new_issues %>

                  <% new_issue_diff = @new_issues - @new_issues_last_week %>
                  <% unless new_issue_diff.zero?  %>
                    <small class='<%= diff_class(new_issue_diff) %>' title='<%= @new_issues_last_week %> issues last week'><%= '+' if new_issue_diff > 0 %><%= number_to_human new_issue_diff %></small>
                  <% end %>
                </h3>
                <span>New Issues</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'git-pull-request', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= number_to_human @new_prs %>

                  <% new_pr_diff = @new_prs - @new_prs_last_week %>
                  <% unless new_pr_diff.zero? %>
                    <small class='<%= diff_class(new_pr_diff) %>' title='<%= @new_prs_last_week %> pull requests last week'><%= '+' if new_pr_diff > 0 %><%= number_to_human new_pr_diff %></small>
                  <% end %>
                </h3>
                <span>New Pull Requests</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'squirrel', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= number_to_human @releases %>
                </h3>
                <span>Releases</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'clock', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= @response_time %>
                  <% response_time_diff = @response_time - @response_time_last_week %>
                  <% unless response_time_diff.zero? %>
                    <small class='<%= diff_class(-response_time_diff) %>' title='<%= @response_time_last_week %> hrs last week'> <%= '+' if response_time_diff > 0 %><%= number_to_human response_time_diff %></small>
                  <% end %>
                </h3>
                <span>Avg Resp Time <small class='text-muted'>hrs</small></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'star', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= number_to_human @stars %>
                  <% stars_diff = @stars - @stars_last_week %>
                  <% unless stars_diff.zero? %>
                    <small class='<%= diff_class(stars_diff) %>' title='<%= @stars_last_week %> stars last week'> <%= '+' if stars_diff > 0 %><%= number_to_human stars_diff %></small>
                  <% end %>
                </h3>
                <span>Stars</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'repo-forked', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= number_to_human @forks %>
                  <% forks_diff = @forks - @forks_last_week %>
                  <% unless forks_diff.zero? %>
                    <small class='<%= diff_class(forks_diff) %>' title='<%= @forks_last_week %> forks last week'> <%= '+' if forks_diff > 0 %><%= number_to_human forks_diff %></small>
                  <% end %>
                </h3>
                <span>Forks</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'comment', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= number_to_human @comments %>
                  <% comments_diff = @comments - @comments_last_week %>
                  <% unless comments_diff.zero? %>
                    <small class='<%= diff_class(comments_diff) %>' title='<%= @comments_last_week %> comments last week'> <%= '+' if comments_diff > 0 %><%= number_to_human comments_diff %></small>
                  <% end %>
                </h3>
                <span>Comments</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'question', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= number_to_human @slow_responses %>
                  <% slow_response_diff = @slow_responses - @slow_responses_last_week %>
                  <% unless slow_response_diff.zero? %>
                    <small class='<%= diff_class(-slow_response_diff) %>' title='<%= @slow_responses_last_week %> slow responses last week'> <%= '+' if slow_response_diff > 0 %><%= number_to_human slow_response_diff %></small>
                  <% end %>
                </h3>
                <span>Slow Responses</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'person', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= number_to_human @contributors %>
                  <% contributors_diff = @contributors - @contributors_last_week %>
                  <% unless contributors_diff.zero? %>
                    <small class='<%= diff_class(contributors_diff) %>' title='<%= @contributors_last_week %> slow responses last week'> <%= '+' if contributors_diff > 0 %><%= number_to_human contributors_diff %></small>
                  <% end %>
                </h3>
                <span>Contributors</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'telescope', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= number_to_human @first_time_contributors %>
                  <% first_time_contributors_diff = @first_time_contributors - @first_time_contributors_last_week %>
                  <% unless first_time_contributors_diff.zero? %>
                    <small class='<%= diff_class(first_time_contributors_diff) %>' title='<%= @first_time_contributors_last_week %> slow responses last week'> <%= '+' if first_time_contributors_diff > 0 %><%= number_to_human first_time_contributors_diff %></small>
                  <% end %>
                </h3>
                <span>New Contributors</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <%= octicon 'git-merge', height: 50 %>
              </div>
              <div class="media-body text-right">
                <h3>
                  <%= number_to_human @merged_prs %>

                  <% merged_prs_diff = @merged_prs - @merged_prs_last_week %>
                  <% unless merged_prs_diff.zero? %>
                    <small class='<%= diff_class(merged_prs_diff) %>' title='<%= @merged_prs_last_week %> pull requests merged last week'><%= '+' if merged_prs_diff > 0 %><%= number_to_human merged_prs_diff %></small>
                  <% end %>
                </h3>
                <span>Merged PRs</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
