<div class="card mb-3 event">
  <div class="card-body pb-1">
    <%= link_to "https://github.com/#{event.actor.gsub('[bot]', '')}", target: :_blank, class: 'float-right' do %>
      <img src="https://github.com/<%= event.actor.gsub('[bot]', '') %>.png" class="rounded" height='40' width='40'>
    <% end %>
    <h5 class="card-title">
      <span class='mr-1'>
        <%= octicon(event_icon(event), height: 18) %>
      </span>

      <%= link_to event.actor, "https://github.com/#{event.actor.gsub('[bot]', '')}", target: :_blank %>

      <%= event.action_text %>

      <%= link_to event.repository.full_name, event.repository %>
      <small class='text-muted'>
        <%= distance_of_time_in_words_to_now event.created_at %> ago
      </small>
      <small>
        <% if event.contributed? %>
          <% Contributor.collabs_for(event.actor).first(5).each do |collab| %>
            <%= link_to collab, url_for(request.params.merge(collab: collab, page: nil)), class: "badge badge-info" %>
          <% end %>
        <% else %>
          <span class='badge badge-dark'>Core</span>
        <% end %>
      </small>
    </h5>
    <div class="ml-4">
      <%= render partial: "events/#{event.event_type.underscore}", locals: {event: event}  %>
    </div>
  </div>
</div>
