<% content_for :rss do %>
  <%= auto_discovery_link_tag :rss, url_for(request.params.merge(page: nil, format: :rss, only_path: false)) %>
<% end %>

<nav class="mb-2 mt-2 navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand" >
    <strong>Internal Events</strong>
  </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills mr-auto">
      <% if Organization.internal.count > 1 %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= 'active' if params[:org].present? %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Organisation</a>
          <div class="dropdown-menu">
            <% if params[:org].present? %>
              <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, org: nil)) %>">
                <%= params[:org] %>
              </a>
            <% end %>
            <% @orgs.sort_by(&:last).reverse.reject{|r| r[0].blank? }.each do |org,count| %>
              <% unless org == params[:org] %>
                <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, org: org)) %>">
                  <%= org %>
                  <small class='text-muted'>
                    <%= number_with_delimiter count %>
                  </small>
                </a>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= 'active' if params[:repo_full_name].present? %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Repository</a>
        <div class="dropdown-menu">
          <% if params[:repo_full_name].present? %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, repo_full_name: nil)) %>">
              <%= params[:repo_full_name] %>
            </a>
          <% end %>
          <% @repos.sort_by(&:last).reverse.reject{|r| r[0].blank? }.each do |repo,count| %>
            <% unless repo == params[:repo_full_name] %>
              <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, repo_full_name: repo)) %>">
                <%= repo %>
                <small class='text-muted'>
                  <%= number_with_delimiter count %>
                </small>
              </a>
            <% end %>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= 'active' if params[:user].present? %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User</a>
        <div class="dropdown-menu">
          <% if params[:user].present? %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, user: nil)) %>">
              <%= params[:user] %>
            </a>
          <% end %>
          <% @users.sort_by(&:last).reverse.reject{|r| r[0].blank? }.each do |user,count| %>
            <% unless params[:user] == user %>
              <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, user: user)) %>">
                <%= user %>
                <small class='text-muted'>
                  <%= number_with_delimiter count %>
                </small>
              </a>
            <% end %>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= 'active' if params[:event_type].present? %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Type</a>
        <div class="dropdown-menu">
          <% if params[:event_type].present? %>
            <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, event_type: nil)) %>">
              <%= event_name(params[:event_type]) %>
            </a>
          <% end %>
          <% @event_types.sort_by(&:last).reverse.reject{|r| r[0].blank? }.each do |event_type,count| %>
            <% unless params[:event_type] == event_type %>
              <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, event_type: event_type)) %>">
                <%= event_name event_type %>
                <small class='text-muted'>
                  <%= number_with_delimiter count %>
                </small>
              </a>
            <% end %>
          <% end %>
        </div>
      </li>
      <%= render 'issues/range_filter' %>
    </ul>
    <ul class="nav nav-pills ml-auto">
      <%= render 'sort_filter' %>
    </ul>
  </div>
</nav>

<% if @events.any? %>
  <div class="mb-3">
    <%= line_chart @scope.group_by_day(:created_at).count, colors: ['#bbb'], height: "80px", library: { scales: { yAxes: [{ display: false }], xAxes: [{ display: false }] }}, points: false %>
  </div>
  <%= render @events %>
<% else %>
  <p>No events found.</p>
<% end %>
<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

<p>
  <small class='text-muted'>
    RSS feed for this page: <%= link_to truncate(url_for(request.params.merge(page: nil, format: :rss, only_path: false)), length: 100), url_for(request.params.merge(page: nil, format: :rss, only_path: false)) %>
  </small>
</p>
