<% @repository_dependencies.group_by{|rd| rd.repository }.sort_by{|r,rd| r }.each do |repo, repository_dependencies| %>
  <div class="card mb-3">
    <div class="card-header p-2 pl-3 pr-3">
      <%= link_to "https://github.com/#{repo.full_name}", target: :_blank, class: 'mr-1' do %>
        <img src="https://github.com/<%= repo.org %>.png" class="rounded" height='18' width='18'>
      <% end %>
      <%= link_to repo.full_name, repository_path(repo) %>
    </div>
    <ul class="list-group list-group-flush">
      <% repository_dependencies.group_by(&:package).sort_by{|p,d| d.any?(&:direct?) ? 0 : 1 }.sort_by{|p,d| p.platform }.each do |package, dependencies| %>
        <% next unless package && package.internal? %>
        <li class="list-group-item">
          <% dep = dependencies.sort_by(&:requirements).first %>
            <img src="https://github.com/<%= package.organization.name %>.png" class="rounded" height='20' width='20'>

            <%= link_to "#{package.platform_name}/#{package.name}", package %>

          <small class='text-muted'>
            <% reqs = dependencies.map(&:requirements).uniq.sort %>
            <%= reqs.last(3).join(', ') %> <% '...' if reqs.length > 3 %>
            <% if dependencies.none?(&:direct?) %>
              <span class='badge badge-info' title='Pulled in by another dependency' >Transitive</span>
            <% end %>
          </small>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
