<h1>
  <%= params[:id] %> dependencies
</h1>

<h5 class='mb-3'>
  <%= pluralize @internal_packages.length, 'internal packages' %> required in <%= pluralize @dependencies.map(&:repository_id).uniq.length, ' active repository' %>
</h5>

<div class="dependencies">
  <% @internal_packages.each do |package, repository_dependencies| %>
    <div class="card mb-1">
      <div class="card-header p-2 pl-3 pr-3 collapsed" title='Click to expand/collapse' data-toggle="collapse" href="#package-<%= package.id %>">
        <% if package.repository %>
          <%= link_to "https://github.com/#{package.repository.org}", title: package.repository.org, target: :_blank, class: 'float-left mr-2' do %>
            <img src="https://github.com/<%= package.repository.org %>.png" class="rounded" height='20' width='20'>
          <% end %>
        <% end %>
        <%= package.platform_name %> - <%= link_to package.name, package_path(package.id) %>
        <small class='text-muted'>
        <%= pluralize repository_dependencies.group_by(&:repository).length, 'repository' %>
        </small>
      </div>
      <ul id='package-<%= package.id %>' class="list-group list-group-flush collapse">
        <% repository_dependencies.group_by(&:repository).each do |repo, repository_dependencies| %>
          <li class='list-group-item pt-2 pb-2'>
            <small>
              <%= octicon(repo_icon(repo), class: 'mr-1') %>
              <%= link_to repo.full_name, repository_path(repo.id) %>
              <span class='text-muted'>
                <%= repository_dependencies.map(&:requirements).uniq.sort.join(', ') %>
              </span>
              <% if  repository_dependencies.any?(&:outdated) %>
                <span class='badge badge-danger' title='Latest stable version is <%= package.latest_stable_release_number %>' >Outdated</span>
              <% end %>
            </small>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
