<% content_for :rss do %>
  <%= auto_discovery_link_tag :rss, url_for(request.params.merge(page: nil, format: :rss, only_path: false)) %>
<% end %>

<nav class="mb-2 mt-2 navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand" >
    <strong>Internal Orgs Stats</strong>
  </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills mr-auto">
      <li class="nav-item <%= 'active bg-light' if params[:range].blank? %>">
        <a class="nav-link" href="<%= orgs_path %>">All time</a>
      </li>
      <li class="nav-item <%= 'active bg-light' if params[:range].to_i == 365 %>">
        <a class="nav-link" href=" <%= url_for(request.params.merge(range: 365)) %>">Last Year</a>
      </li>
      <li class="nav-item <%= 'active bg-light' if params[:range].to_i == 90 %>">
        <a class="nav-link" href=" <%= url_for(request.params.merge(range: 90)) %>">Last Quarter</a>
      </li>
      <li class="nav-item <%= 'active bg-light' if params[:range].to_i == 30 %>">
        <a class="nav-link" href=" <%= url_for(request.params.merge(range: 30)) %>">Last 30 days</a>
      </li>
    </ul>
  </div>
</nav>

<% @orgs.in_groups_of(3, false).each do |group| %>
  <div class="card-deck mb-4">
    <% group.each do |org, count| %>
      <div class="card" >
        <div class="card-header">
          <h3 class=m-0>
            <img src="https://github.com/<%= org[:name] %>.png" class="rounded" height='30'>
            <%= org[:name] %>
            <%= link_to octicon('mark-github'), "https://github.com/"+org[:name], target: :_blank %>
          </h3>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item pt-2 pb-2">
            <%= octicon('issue-opened') %> Issues
            <small class='text-muted'><%= number_with_delimiter org[:issues_count] %></small>
          </li>
            <li class="list-group-item pt-2 pl-5 pb-2">
              <span class='text-success'><%= octicon('issue-opened') %></span>
              Open
              <small class='text-muted'><%= number_with_delimiter org[:open_issues_count] %></small>
            </li>
            <li class="list-group-item pt-2 pl-5 pb-2">
              <span class='text-danger'><%= octicon('issue-closed') %></span>
              Closed
              <small class='text-muted'><%= number_with_delimiter org[:closed_issues_count] %></small>
            </li>


          <li class="list-group-item pt-2 pb-2">
            <%= octicon('git-pull-request') %> Pull Requests
            <small class='text-muted'><%= number_with_delimiter org[:pull_requests_count] %></small>
          </li>
            <li class="list-group-item pt-2 pl-5 pb-2">
              <span class='text-success'><%= octicon('git-pull-request') %></span>
              Open
              <small class='text-muted'><%= number_with_delimiter org[:open_pull_requests_count] %></small>
            </li>
            <li class="list-group-item pt-2 pl-5 pb-2">
              <span class='text-danger'><%= octicon('git-pull-request') %></span>
              Closed/Merged
              <small class='text-muted'><%= number_with_delimiter org[:closed_pull_requests_count] %></small>
            </li>

          <% if params[:range].blank? %>
            <li class="list-group-item pt-2 pb-2">
              <%= octicon('comment') %> Comments
              <small class='text-muted'><%= number_with_delimiter org[:comments] %></small>
            </li>
          <% end %>

          <li class="list-group-item pt-2 pb-2">
            <%= link_to repositories_path(org: org[:name]) do %>
              <%= octicon('repo-clone') %> Repositories
              <small class='text-muted'><%= number_with_delimiter org[:repos].length %></small>
            <% end %>
          </li>
          <% org[:repos].first(5).each do |repo, count| %>
            <li class="list-group-item pt-2 pl-5 pb-2">
              <%= octicon('repo') %>
              <%= repo.split('/').last %>
              <small class='text-muted'><%= number_with_delimiter count %></small>
            </li>
          <% end %>

          <li class="list-group-item pt-2 pb-2">
            <%= octicon('briefcase') %> Core Contributors
            <small class='text-muted'><%= number_with_delimiter org[:contributors].length %></small>
          </li>
          <% org[:contributors].first(5).each do |user, count| %>
            <li class="list-group-item pt-2 pl-5 pb-2">
              <img src="https://github.com/<%= user %>.png" class="rounded" height='20' width='20'>
              <%= user %>
              <small class='text-muted'><%= number_with_delimiter count %></small>
            </li>
          <% end %>

          <li class="list-group-item pt-2 pb-2">
            <%= octicon('organization') %> Community Contributors
            <small class='text-muted'><%= number_with_delimiter org[:community_contributors].length %></small>
          </li>
          <% org[:community_contributors].first(5).each do |user, count| %>
            <li class="list-group-item pt-2 pl-5 pb-2">
              <img src="https://github.com/<%= user %>.png" class="rounded" height='20' width='20'>
              <%= user %>
              <small class='text-muted'><%= number_with_delimiter count %></small>
            </li>
          <% end %>

          <li class="list-group-item pt-2 pb-2">
            <%= octicon('hubot') %> Bots
            <small class='text-muted'><%= number_with_delimiter org[:bots].length %></small>
          </li>
          <% org[:bots].first(3).each do |user, count| %>
            <li class="list-group-item pt-2 pl-5 pb-2">
              <img src="https://github.com/<%= user.gsub('[bot]', '') %>.png" class="rounded" height='20' width='20'>
              <%= user.gsub('[bot]', '') %>
              <small class='text-muted'><%= number_with_delimiter count %></small>
            </li>
          <% end %>

        </ul>
      </div>
    <% end %>
  </div>
<% end %>


<p>
  <small class='text-muted'>
    RSS feed for this page: <%= link_to truncate(url_for(request.params.merge(page: nil, format: :rss, only_path: false)), length: 100), url_for(request.params.merge(page: nil, format: :rss, only_path: false)) %>
  </small>
</p>
