<div class="card mb-3">
  <div class="card-body">
      <%= link_to "https://github.com/#{contributor}", target: :_blank, class: 'float-left mr-3' do %>
        <img src="https://github.com/<%= contributor %>.png" class="rounded" height='40'>
      <% end %>
    <h5 class="card-title mb-0">
      <%= link_to contributor, "https://github.com/#{contributor}", target: :_blank %>
    </h5>

    <small class='text-muted'>
      Contributions in the past <%= @range %> days: <%= count %>
    </small>
  </div>
</div>
