<div class="card mb-3">
  <div class="card-body">
      <%= link_to "https://github.com/#{contributor}", target: :_blank, class: 'float-left mr-3' do %>
        <img src="https://github.com/<%= contributor %>.png" class="rounded" height='40' width='40'>
      <% end %>
    <h5 class="card-title mb-0">
      <%= link_to contributor, contributor_path(contributor), target: :_blank %>
      <small>
        <% Contributor.collabs_for(contributor).each do |collab| %>
          <%= link_to collab, url_for(request.params.merge(collab: collab, page: nil)), class: "badge badge-info" %>
        <% end %>
      </small>
    </h5>

    <small class='text-muted'>
      <%= link_to all_issues_path(user: contributor, range: @range) do %>
         <%= pluralize count, 'contribution' %> in the past <%= @range %> days
      <% end %>
    </small>
  </div>
</div>
