<nav class="mb-2 mt-2 navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand" >
    <strong>Collab Contributors</strong>
  </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills mr-auto">
      <%= render partial: 'issues/excludable_filter', locals: {filter_name: 'collab', filter_label: 'Collab', filter_collection: @collabs} %>
      <%= render 'issues/range_filter' %>
    </ul>
    <% if Organization.internal.count > 1 %>
      <ul class="nav nav-pills ml-auto">
        <li class="nav-item dropdown <%= 'active' if params[:org].present? %>">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter by Organization
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if params[:org].present? %>
              <a class="dropdown-item active" title='Click to remove org filter' href="<%= url_for(request.params.merge(org: nil)) %>">
                <%= params[:org] %>
              </a>
            <% end %>
            <% Organization.internal.all.each do |org| %>
              <% next if params[:org] == org.name %>
              <a class="dropdown-item" href="<%= url_for(request.params.merge(org: org.name)) %>">
                <%= org.name %>
              </a>
            <% end %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</nav>

<% @contributors.each do |contributor, count| %>
  <%= render partial: 'contributor', locals: {contributor: contributor, count: count} %>
<% end %>
<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
