<%= link_to "https://github.com/#{@contributor}", target: :_blank, class: 'float-left mr-3 mt-2' do %>
  <img src="https://github.com/<%= @contributor %>.png" class="rounded" height='40' width='40'>
<% end %>
<h1>
  <%= link_to @contributor, "https://github.com/#{@contributor}", target: :_blank %>
</h1>
<hr>

<h4>
  Recent Issues and Pull Requests
  <small class='float-right'>
    <%= link_to 'See all', all_issues_path(user: @contributor, range: 999) %>
  </small>
</h4>

<% if @issues.any? %>
  <%= render @issues %>
<% else %>
  <p>No issues or pull requests found.</p>
<% end %>


<h4 class='mt-5'>
  Recent Events
  <small class='float-right'>
    <%= link_to 'See all', events_path(user: @contributor, range: 999) %>
  </small>
</h4>

<% if @events.any? %>
  <%= render @events %>
<% else %>
  <p>No events found.</p>
<% end %>
