<!DOCTYPE html>
<html class='h-100'>
  <head>
    <title>
      <%= page_title %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='d-flex flex-column h-100'>
    <header>
      <nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-md">
        <% if brand_icon_url %>
          <a class="navbar-brand" href="/">
            <img src="<%= brand_icon_url %>" width="30" height="30" alt="">
          </a>
        <% end %>
        <a class="navbar-brand" href="/">Ecosystem Dashboard</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'All Issues+PRs', all_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Slow Responses', slow_response_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Repositories', repositories_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Events', events_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Packages', packages_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
        <% if controller_name == 'packages' %>
          <form class="form-inline" action="<%= search_packages_path %>">
            <input class="form-control mr-sm-2" name='query' type="search" placeholder="Package name.." aria-label="Search">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        <% elsif controller_name == 'repositories' && action_name == 'collab_events' %>
          <form class="form-inline" action="<%= collab_events_path %>">
            <input class="form-control mr-sm-2" name='query' type="search" placeholder="Search events.." aria-label="Search">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        <% end %>
      </nav>
    </header>

    <main role="main" class="flex-shrink-0">
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <%= value %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>
    <footer class='footer mt-auto py-3'>

      <div class="container">
        <span class="text-muted">
          <%= link_to 'Feature requests and bug reports welcome', 'https://github.com/ipfs-shipyard/ecosystem-research', target: :_blank %>
        </span>
      </div>
    </footer>
  </body>
</html>
