<!DOCTYPE html>
<html class='h-100'>
  <head>
    <title>
      <%= page_title %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= content_for :rss %>
  </head>

  <body class='d-flex flex-column h-100'>
    <header>
      <nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-md">
        <% if brand_icon_url %>
          <a class="navbar-brand" href="/">
            <img src="<%= brand_icon_url %>" width="30" height="30" alt="">
          </a>
        <% end %>
        <a class="navbar-brand" href="/">
          <%= display_name %>
          Ecosystem Dashboard
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Core
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if Organization.internal.count > 1 %>
                  <a class="dropdown-item" href="<%= orgs_path %>">
                    Organizations
                  </a>
                <% end %>
                <a class="dropdown-item" href="<%= all_issues_path %>">
                  Issues and Pull Requests
                </a>
                <a class="dropdown-item" href="<%= events_path %>">
                  Events
                </a>
                <a class="dropdown-item" href="<%= packages_path %>">
                  Packages
                </a>
                <a class="dropdown-item" href="<%= repositories_path %>">
                  Repositories
                </a>
                <%= link_to 'Contributors', contributors_path, class: 'dropdown-item' %>
                <%= link_to 'Slow Responses', slow_response_path, class: 'dropdown-item' %>
                <%= link_to 'Outdated Packages', outdated_packages_path, class: 'dropdown-item' %>
                <%= link_to 'Tracked Searches', search_path, class: 'dropdown-item' %>
                <%= link_to 'Search Highlights', highlights_path, class: 'dropdown-item' %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collaborators
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to 'Active Collabs', active_collabs_path, class: 'dropdown-item' %>
                <a class="dropdown-item" href="<%= collabs_path %>">
                  All Collabs
                </a>
                <a class="dropdown-item" href="<%= collab_issues_path %>">
                  Issues and Pull Requests
                </a>
                <a class="dropdown-item" href="<%= collab_events_path %>">
                  Events
                </a>
                <a class="dropdown-item" href="<%= collab_packages_path %>">
                  Packages
                </a>
                <a class="dropdown-item" href="<%= collab_repositories_path %>">
                  Repositories
                </a>
                <%= link_to 'Contributors', collab_contributors_path, class: 'dropdown-item' %>
                <%= link_to 'Tracked Searches', highlights_path, class: 'dropdown-item' %>
              </div>
            </li>
          </ul>
        </div>
        <% if controller_name == 'packages' %>
          <form class="form-inline" action="<%= search_packages_path %>">
            <input class="form-control mr-sm-2" name='query' type="search" placeholder="Package name.." aria-label="Search">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        <% elsif controller_name == 'repositories' && action_name == 'collab_events' %>
          <form class="form-inline" action="<%= collab_events_path %>">
            <input class="form-control mr-sm-2" name='query' type="search" placeholder="Search events.." aria-label="Search">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        <% end %>
      </nav>
    </header>

    <main role="main" class="flex-shrink-0">
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <%= value %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>
    <footer class='footer mt-auto py-3'>

      <div class="container">
        <span class="text-muted">
          <%= link_to 'Feature requests and bug reports welcome', 'https://github.com/ipfs-shipyard/ecosystem-research', target: :_blank %>
        </span>
      </div>
    </footer>
  </body>
</html>
